var regions = ['[% regions.join("','") %]'];

[% SET vendor_text = '' %]

[% FOR vendor IN vendors %]
  [% li_text = BLOCK %]
    <li class="[% vendor.region FILTER html %]">
      <b>Name:</b> [% vendor.name FILTER html %]
      [% IF vendor.contributor %]
        <span class="bugzilla_contributor">(contributor)</span>
      [% END %]<br>
      [% IF vendor.website %]<b>Website:</b> <a href="[% vendor.website FILTER html %]" target="_blank">[% vendor.website FILTER html %]</a><br>[% END %]
      [% IF vendor.services %]<b>Services:</b> [% vendor.services FILTER html %]<br>[% END %]
      [% IF vendor.location %]<b>Primary Location:</b> [% vendor.location FILTER html %]<br>[% END %]
      [% IF vendor.willwork %]<b>Will Work:</b> [% vendor.willwork FILTER html %]<br>[% END %]
      [% IF vendor.contact %]<b>Contact:</b> [% vendor.contact %]<br>[% END %]
      [% IF vendor.comment %]<b>Comment:</b> [% vendor.comment %]<br>[% END %]
    </li>
  [% END %]
  [% SET vendor_text = vendor_text _ li_text %]
[% END %]

vendors = '[% vendor_text FILTER js %]';
